.item:hover{
    transform: scale(1.1);
    transition:all .4s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 0 0 20px #888;
}
.item{
    padding:25px;
    text-align: center;
}
.simpleCart_items img{
    width: 100px;
}
.item-quantity{
    text-align: center;
}
.container-fluid{
    background: #efefef;
}